/preparation/manuelDeGestionDeComptes utilisateur.txt
/pictures/photoAspirateur.jpg
/pictures/test.txt
/preparation/manuel gestion achats.txt
/maquettage/connexion.pdf
/maquettage/création de compte.pdf
/maquettage/liste des produits.pdf
/maquettage/page Utilisateur.pdf
/maquettage/paged'accueuil.pdf
/preparation/Diagramme sans nom.drawio
/preparation/cheminUtilisateur.pdf
/preparation/chemin utilisateur.drawio
/preparation/chemin utilisateur.pdf
/preparation/système de connection.pdf
